.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#next-button {
  display: block;
  margin-top: 10px;
}

@media (max-width: 767px){
  .img_responsive{
    width: 100%;      
    height: auto;
  }
}