/* 모바일 화면에서의 스타일 */
@media(max-width: 1000px) {
  body {
    overflow-y: auto; /* 스크롤바 숨기기 */
    position: relative;
  }

  .line-height {
    line-height: 0.6; /* 원하는 줄 간격으로 조절 (예: 1.2로 설정) */
  }

  .img_responsive {
    width: 100%; /* 화면 너비에 맞게 이미지 너비 설정 */
    height: auto; /* 이미지 높이 자동으로 조정 */
  }

  #prev-button {
    display: block;
    position: fixed;
    bottom: 0; /* 하단에 배치 */
    left: 31%; /* 좌측에 배치 */
    transform: none; /* 변환 해제 */
    width: 15%; /* 너비를 늘림 */
    height: 5%; /* 높이 자동으로 조정 */
    padding: 10px 0; /* 버튼 위아래 여백을 조절하세요 */
    text-align: center;
    color: black;
  }

  #next-button {
    display: block;
    position: fixed;
    bottom: 0; /* 하단에 배치 */
    left: 51%; /* 좌측에 배치 */
    transform: none; /* 변환 해제 */
    width: 15%; /* 너비를 늘림 */
    height: 5%; /* 높이 자동으로 조정 */
    padding: 10px 0; /* 버튼 위아래 여백을 조절하세요 */
    text-align: center;
    color: black;
  }

  .slider-button {
    position: fixed;
    bottom: 2%;
    left: 50%; /* 가운데 정렬을 위해 왼쪽 50%로 설정 */
    transform: translateX(-50%); /* 가운데 정렬을 위해 가로 방향으로 -50% 이동 */
    width: 15%;
    height: 5%;
    pointer-events: auto;
    color: black;
  }

  .hint-button {
    position: absolute;
    top: 2%; /* 하단에 배치 */
    left: 5%; /* 좌측에 배치 */
    transform: none; /* 변환 해제 */
    width: 5%; /* 너비를 늘림 */
    height: auto; /* 높이 자동으로 조정 */
    pointer-events: auto;
    color: black;
  }

  .input-box {
    position: fixed;
    top: 35%; /* 하단에 배치 */
    left: 50%; /* 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 변환 */
    width: 80%; /* 너비 조정 */
    height: 3%; /* 높이 자동으로 조정 */
    color: black;
  }

  .content {
    padding: 0 10px;
  }

  .red-text {
    color: red;
  }
}
