/* 공통 스타일 */
.slider-button, .hint-button, .input-box {
  display: block;
  position: absolute;
  font-size: 110%;
  color: black;
}


/* 이전 버튼 스타일 업데이트 */
#prev-button {
  display: block;
  position: absolute;
  bottom: 5%; /* 하단에 배치 */
  left: 30%; /* 좌측에 배치 */
  transform: none; /* 변환 해제 */
  width: 20%; /* 너비를 늘림 */
  height: 10%; /* 높이 자동으로 조정 */
  font-size: 110%; /* 버튼 텍스트 크기 조정 */
}


/* 모바일 화면에서의 스타일 */
@media (max-width: 767px) {
  body {
    overflow-y: auto; /* 스크롤바 숨기기 */
  }

  .img_responsive {
    width: 100%; /* 화면 너비에 맞게 이미지 너비 설정 */
    height: auto; /* 이미지 높이 자동으로 조정 */
  }

  .hint-button {
    position: absolute;
    top: 2%; /* 하단에 배치 */
    left: 5%; /* 좌측에 배치 */
    transform: none; /* 변환 해제 */
    width: 5%; /* 너비를 늘림 */
    height: auto; /* 높이 자동으로 조정 */
    pointer-events: auto;
  }

  .slider-button {
    position: absolute;
    bottom: 5%; /* 하단에 배치 */
    right: 30%; /* 우측에 배치 */
    transform: none; /* 변환 해제 */
    width: 20%; /* 너비를 늘림 */
    height: 10%; /* 높이 자동으로 조정 */
    pointer-events: auto;
  }

  .input-box {
    bottom: 10%; /* 하단에 배치 */
    left: 50%; /* 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 변환 */
    width: 60%; /* 너비 조정 */
    height: auto; /* 높이 자동으로 조정 */
  }

  .content {
    padding: 0 10px;
  }
}
